/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  /* background image credit: https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif */
  background-color: #F2EDDC;
  height: 100%;
  width: 99%; }
  html body .custom-nav-bg {
    background-color: #262220; }
  html body .custom-h1 {
    font-family: "Acme", sans-serif;
    font-size: 140%;
    /* Positioning */
    margin: 0 auto;
    /* Box-model */ }
  html body .trivia-button {
    background-color: blue;
    color: white;
    text-align: center; }
  html body button {
    text-align: center; }
  html body #add-topic {
    background-color: #3D5E73;
    margin-left: 0px;
    min-height: 100vh; }
  html body #topic-form {
    margin-left: 5px; }
  html body #topic-list {
    padding-left: 3%;
    margin-left: 15px; }
  html body #topic-images {
    background-color: #F2EDDC; }
  html body #favorites {
    background-color: #BFB8AA;
    min-height: 100vh; }

@media only screen and (min-width: 768px) {
  .custom-h1 {
    font-size: 210% !important; } }
