/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  background-color: #F2EDDC;
  height: 100%;
  width: 99%; }
  html body .custom-gradient {
    color: #09113a;
    font-size: 6vw; }
  html body .custom-nav-bg {
    background: linear-gradient(to right, #262220, #5B111F); }
  html body .custom-h1 {
    font-family: "Acme", sans-serif;
    font-size: 140%;
    /* Positioning */
    margin: 0 auto; }
  html body .custom-h3 {
    font-family: "Roboto Slab", serif;
    font-size: 170%;
    text-shadow: 1px 1px #F2EDDC;
    /* box model */
    width: 100%;
    padding: 10px;
    /* Positioning */
    margin: 0 auto; }
  html body .topic-list {
    /* Box-model */
    margin: 0 auto;
    max-width: 100%;
    border: 1px 1px solid black; }
  html body .topic-button, html body .favorite-button {
    background: linear-gradient(to right, #CEDCE7, #596a72);
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 4px;
    border-radius: 15px;
    font-weight: bold;
    color: #09113a;
    text-align: center; }
  html body .topic-button:hover, html body .favorite-button:hover {
    background: linear-gradient(to right, #acc4d6, #434f55);
    color: #CAE6F2; }
  html body .show-favorite:hover {
    outline: 2px solid #6593A6; }
  html body .clear-button, html body .clear-favs-button {
    background: linear-gradient(to right, red, pink);
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 4px;
    border-radius: 15px;
    font-weight: bold;
    color: brown;
    text-align: center; }
  html body .clear-button:hover, html body .clear-favs-button:hover {
    background: linear-gradient(to right, #b70135, #c4355d);
    color: black; }
  html body .fav-button {
    background: salmon; }
  html body .fav-button:hover {
    background: #5B111F;
    color: white; }
  html body figure {
    float: left;
    margin: 10px 10px; }
    html body figure figcaption {
      font-size: 80%;
      padding: 0px 0px;
      border-radius: 5px; }
      html body figure figcaption .rated-g {
        background: green;
        color: white;
        padding: 4px 2px; }
      html body figure figcaption .rated-pg {
        background: goldenrod;
        color: black;
        padding: 4px 2px; }
      html body figure figcaption .rated-none, html body figure figcaption .gif-title {
        background: black;
        color: white;
        padding: 4px 2px; }
  html body button {
    text-align: center; }
  html body #add-topic {
    background: linear-gradient(to right, #3D5E73, #6593A6);
    margin-left: 0px; }
  html body #topic-form {
    margin-left: 5px; }
  html body #topic-images {
    background-color: #F2EDDC; }
  html body #favorites {
    background: linear-gradient(to right, #FFC107, #5B111F); }

@media only screen and (min-width: 768px) {
  html body .custom-h1 {
    font-size: 210% !important; }
  html body .custom-h3 {
    text-shadow: none; }
  html body .custom-gradient {
    background: yellow;
    background: -webkit-linear-gradient(left, cyan, #d6d0f3, whitesmoke);
    background: -o-linear-gradient(right, cyan, #d6d0f3, whitesmoke);
    background: -moz-linear-gradient(right, cyan, #d6d0f3, whitesmoke);
    background: linear-gradient(to right, cyan, #d6d0f3, whitesmoke);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw !important; }
  html body #add-topic {
    min-height: 100vh; }
  html body #favorites {
    min-height: 100vh; } }
