/* stylesheet */

// game font family
$trivia-font: 'Acme', sans-serif;

// color theme for star wars game
$game-bg-color: beige;
$game-color-1: #5C8E8A;
$game-color-2: #F0F3F0;
$game-color-3: #DBB542;
$game-color-4: #C17561;
$game-color-5: #5B5B59;
$game-color-6: #CAE6F2;


* {
  box-sizing: border-box;
}

html {

  body {
    /* background image credit: https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif */
    background-color: $game-color-1;
    // background: $game-color-3 url("../images/rainbow-1418706_960_720.png") no-repeat;
    background-size: 100% 125%;
    height: 100%;
    .custom-h1 {
      font-family: $trivia-font;
      padding: 2% 2%;
      // color: $game-color-2;

      /* Positioning */
      margin: 0 auto;

      /* Box-model */
      width: 85%;
      border: 2px 2px solid black;
    }

    .trivia-button {
      background-color: blue;
      color: white;
      text-align: center;
    }

    button {
      text-align: center;
    }

    #add-topic {
      background-color: $game-color-4;
    }

    #topic-images {
      background-color: $game-color-6;
    }

    #favorites {
      background-color: $game-color-3;
    }

  }

}